<hr>
  <p class="promotion">
    <img style="float: left; width: 60px; height: 60px; margin-right: 10px;" src="https://www.codingmarks.org/assets/codingmarks-logo.png" alt="Octocat" />
    Save up to a workweek a year by efficiently managing your coding bookmarks, aka #codingmarks, on <span class="highlight-yellow"><a href="https://www.codingmarks.org" target="_blank">www.codingmarks.org</a></span>.
    Share your favorites with the community and they will be published weekly on <a href="https://github.com/Codingpedia/codingmarks" target="_blank">Github</a>.
    Help us build the programming-resources location - <span style="vertical-align: middle"><a class="github-button" href="https://github.com/Codingpedia/codingmarks" data-icon="octicon-star" aria-label="Star ntkme/github-buttons on GitHub">Star</a></span>
  </p>
<hr>
